@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth; /*Al hacer click en un enlace que te lleva a una seccion mas abjo el avance hasta esa seccion se hace de manera suave y no inmediata*/
}

body {
    min-height: 100vh;
    overflow-x: hidden; /*Para que no tenga scrollbar en el eje X*/
    background: linear-gradient(#2b1055, #7597de);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active {
    background-color: #fff;
    color: #2b1055;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(
        to top,
        #1c0522,
        transparent
    ); /*Crea un cambio gradual entre los colores de dos secciones*/
    z-index: 1000;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /*Cubre toda la pantalla?*/
    pointer-events: none; /*Explicacion mas abajo */
}

section img#moon {
    mix-blend-mode: screen;
}

section img#mountains_front {
    z-index: 10;
}

#text {
    position: absolute;
    right: -350px;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
}

#btn {
    display: inline-block;
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
    /* cursor: pointer; /*En lugar de usar esto se usa pointer-events: none;*/
}

.sec {
    position: relative;
    padding: 100px;
    background: #1c0522;
    color: #fff;
}

.sec h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}

.sec p {
    font-size: 1.2em;
    color: #fff;
}
